



<h2>About</h2>
<p><a href="https://github.com/bricefoster/Image-Uploader">Github</a></p>
<p>This MVC application utilizes C#, Razor, SQL, HTML, CSS, LINQ, and ASP.NET to allow users to login and upload images.</p>

