
<div class="container">

    <div class="jumbotron">
        <h1>Welcome to Image Uploader</h1>
        <p>This site will give you the ability to login and save your Images</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="/Home/Create" class="btn btn-lg btn-success">Uplaod Image</a>
        </div>
        <div class="col-sm-6">
            <a href="/Home/ViewImage" class="btn btn-lg btn-warning">View Image</a>
        </div>
    </div>

</div>

